################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/obj
/CxViewerAction/obj
/CxViewerColorButton/obj
/CxViewerDgvFilterPopup/obj
/Common/bin/Debug
/CxViewerAction/bin/Debug
/CxViewerVSIX/bin/Debug
/CxViewerVSIX/obj
/CxViewerDgvFilterPopup/bin/Debug
/CxViewerColorButton/bin/Debug
/.vs
/.localhistory/C/Users/Adig/IdeaProjects/VisualStudio
/CxViewerVSIX/CxViewerVSIX.csproj.user
/CxViewerColorButton/bin/Release
/CxViewerDgvFilterPopup/bin/Release
/CxViewerVSIX/bin/Release
/Output
/CxViewerAction/CxViewerAction.xml
/CxViewerAction/bin/Release
/Common/bin/Release
/Artifacts
.editorconfig
Common/Common.csproj
*.csproj
*.user
*.csproj
*.user
CxActionShared/Helpers/ZipHelper.cs
*.config
*.sln
*.dll
*.exe
*.pdb
*.xml
*.pak
*.pkgdef
*.log
*.vsix
*.vsixmanifest
CxViewer2022/bin/Release/GPUCache/data_0
CxViewer2022/bin/Release/GPUCache/data_1
CxViewer2022/bin/Release/GPUCache/data_2
CxViewer2022/bin/Release/GPUCache/data_3
CxViewer2022/bin/Release/GPUCache/index
*.dat
*.txt
*.ico
CxViewer2022/bin/Release/Resources/LICENSE2
*.bin
*.json
*.user
*.user
*.user
*.user
*.user
*.props
*.targets
CxViewer2022/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.resources
*.cache
*.CopyComplete
*.editorconfig
*.cto
*.tlog
CxViewer2022/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.original
CxViewer2022/obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewer2022/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewer2022/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewer2022/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/Build/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/x64/Build/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.force
CxViewerAction2019/obj/x86/Build/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/x86/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
CxViewerAction2019/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CxViewerAction2019/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CxViewerAction2019/Properties_old/Resources.Designer.cs
*.config
*.resx
CxViewerAction2019/Properties_old/Settings.Designer.cs
CxViewerAction2019/Properties_old/Settings.settings
CxViewerAction2019/SevenZip/Compression/LZMA/SevenZipHelper.cs
*.datasource
*.datasource
*.p7s
*.csproj
*.nupkg
*.transform
*.cpp
*.h
packages/CefSharp.Common.99.2.120/src/CefSharp.BrowserSubprocess/obj/x64/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.BrowserSubprocess/obj/x86/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.BrowserSubprocess/Program.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.BrowserSubprocess/Program.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.BrowserSubprocess/Properties/AssemblyInfo.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/BrowserSettings.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/BrowserSettings.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/BrowserSubprocess/SelfHost.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Cef.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/CefSettingsBase.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/DragData.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Fluent/DownloadHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Fluent/DownloadHandlerBuilder.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Fluent/UrlRequestClient.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Fluent/UrlRequestClientBuilder.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Initializer.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/ManagedCefBrowserAdapter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/ModuleInitializerAttribute.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/NativeMethodWrapper.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/ObjectFactory.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/PostData.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/PostData.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/PostDataElement.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/PostDataElement.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Properties/AssemblyInfo.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Request.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/Request.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/RequestContext.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/RequestContextBuilder.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/RequestContext.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/RequestContextSettings.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/UrlRequest.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/UrlRequest.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/WebBrowserExtensionsEx.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/WindowInfo.cs
packages/CefSharp.Common.99.2.120/src/CefSharp.Core/WindowInfo.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/AsyncExtensions.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/BindingOptions.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IAuthCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IBeforeDownloadCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/ICallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/ICompletionCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IDeleteCookiesCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IDevToolsMessageObserver.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IDownloadItemCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IFileDialogCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IGetExtensionResourceCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IJavascriptCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IJsDialogCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IPrintToPdfCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IRequestCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IResolveCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IResourceReadCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IResourceSkipCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IRunContextMenuCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/IRunFileDialogCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/ISelectClientCertificateCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/ISetCookieCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/NoOpCompletionCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/TaskCompletionCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/TaskDeleteCookiesCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/TaskPrintToPdfCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/TaskResolveCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Callback/TaskSetCookieCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/CefCustomScheme.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/CefLibraryHandle.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/CefRuntime.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/CefSharpSettings.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Cookie.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DefaultApp.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DependencyChecker.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsClient.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsClient.Generated.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsClient.Generated.netcore.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsClientException.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsDomainBase.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsDomainEntityBase.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsDomainErrorResponse.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsDomainEventArgsBase.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsDomainResponseBase.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsErrorEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsMethodResponse.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/DevToolsMethodResponseContext.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/EventProxy.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/Headers.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/IDevToolsClient.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/IEventProxy.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevTools/MemoryDumpConfig.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DevToolsExtensions.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DomNode.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/DownloadItem.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/AlphaType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefErrorCode.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefEventFlags.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefFileDialogFlags.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefFileDialogMode.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefFocusSource.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefJsDialogType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefMenuCommand.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefPdfPrintMarginType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefReturnValue.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefState.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefTerminationStatus.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CefThreadIds.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CertStatus.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ChannelLayout.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ColorType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CompositionUnderlineStyle.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ContextMenuEditState.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ContextMenuMediaState.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ContextMenuMediaType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ContextMenuType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CookiePriority.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CookieSameSite.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/CursorType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/DragOperationsMask.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/FilterStatus.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/KeyEventType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/KeyType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/LogSeverity.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/MenuItemType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/MouseButtonType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/PaintElementType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/PointerType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/PostDataElementType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ReferrerPolicy.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ResourceType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/SchemeOptions.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/SslContentStatus.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/SslVersion.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/TextInputMode.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/TouchEventType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/TransitionType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/UrlRequestFlags.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/UrlRequestStatus.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/ValueType.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Enums/WindowOpenDisposition.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/AddressChangedEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/ConsoleMessageEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/FrameLoadEndEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/FrameLoadStartEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/JavascriptBindingCompleteEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/JavascriptBindingEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/JavascriptBindingMultipleCompleteEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/JavascriptMessageReceivedEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/LoadErrorEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/LoadingStateChangedEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/StatusMessageEventHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Event/TitleChangedEventArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/AccessibilityHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/AudioHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/BrowserProcessHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/ContextMenuHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/CookieAccessFilter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/DialogHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/DisplayHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/DownloadHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/DragHandler .cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/ExtensionHandler .cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/FindHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/FocusHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/FrameHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IAccessibilityHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IAudioHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IBrowserProcessHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IContextMenuHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/ICookieAccessFilter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IDialogHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IDisplayHandler.cs
*.datasource
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IDownloadHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IDragHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IExtensionHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IFindHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IFocusHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IFrameHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IJsDialogHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IKeyboardHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/ILifeSpanHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/ILoadHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IRenderProcessMessageHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IRequestContextHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IRequestHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IResourceHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/IResourceRequestHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/JsDialogHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/KeyboardHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/LifeSpanHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/LoadHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/RequestContextHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/RequestHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Handler/ResourceRequestHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IApp.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IBrowser.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IBrowserHost.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IBrowserSettings.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IChromiumWebBrowserBase.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IContextMenuParams.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/ICookieManager.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IDomNode.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IDragData.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IExtension.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IFrame.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IImage.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IJavascriptObjectRepository.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IMenuModel.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/BrowserRefCounter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/ByteArrayResourceHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/CefSharpArguments.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/CefThread.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/CefTimeUtils.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/CommandLineArgDictionary.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/CommandLineArgsParser.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/ConcurrentMethodRunnerQueue.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/CookieManagerDecorator.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/DateTimeUtils.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/FileResourceHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/FreezableBase.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/GlobalContextInitialized.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/HeaderNameValueCollection.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IBrowserAdapter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IBrowserRefCounter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IJavascriptCallbackFactory.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IJavascriptObjectRepositoryInternal.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IMethodRunnerQueue.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/InitializeAsyncBrowserProcessHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/InMemoryResourceRequestHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IntPtrExtensions.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IRenderWebBrowser.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/ITaskScheduler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/IWebBrowserInternal.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/JavascriptCallback.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/JavascriptMethod.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/JavascriptObject.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/JavascriptObjectRepository.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/JavascriptProperty.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Json/JsonEnumConverter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Json/JsonEnumConverterFactory.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/MethodInvocation.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/MethodInvocationCompleteArgs.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/MethodInvocationResult.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/MethodParameter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/MethodRunnerQueue.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/MimeTypeMapping.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/NoFocusHandler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/NoOpBrowserRefCounter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/ParentProcessMonitor.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Partial/ChromiumWebBrowser.Partial.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/PathCheck.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/PendingTaskRepository.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/ReflectionUtils.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/RenderprocessClientFactory.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/StringCheck.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/TaskExtensions.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Tasks/LimitedConcurrencyLevelTaskScheduler.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Tasks/SyncContextTaskCompletionSource.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/TryCallMethodResult.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Wcf/BrowserProcessResponse.cs
CxViewerAction/SevenZip/Compression/LZMA/SevenZipHelper.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Wcf/BrowserProcessService.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Wcf/BrowserProcessServiceHost.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Wcf/IBrowserProcess.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Wcf/JavascriptCallbackEndpointBehavior.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Wcf/JavascriptCallbackSurrogate.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/Internals/Wcf/WcfExtensions.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IPopupFeatures.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IPostData.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IPostDataElement.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IRegistration.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IRequest.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IRequestContext.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IResourceRequestHandlerFactory.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IResponse.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IResponseFilter.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/ISchemeRegistrar.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/ISslInfo.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IUrlRequest.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IUrlRequestClient.cs
packages/CefSharp.Common.99.2.120/src/CefSharp/IValue.cs
*.cs
*._
*.ruleset
*.ps1
*.md
*.user
*.png
*.bat
*.jpg
packages/MessagePack.2.2.85/LICENSE
packages/MessagePack.Annotations.2.2.85/LICENSE
*.sarif
*.rtf
packages/Microsoft.VisualStudio.RpcContracts.17.1.13/LICENSE
*.snippet
*.cmd
*.csproj
*.user
*.user
*.csproj
*.user
*.user
*.config
*.config
*.csproj
*.user
*.config
*.config
*.user
*.csproj
*.config
*.user
*.csproj
*.datasource
*.datasource
*.datasource
*.csproj
*.user
*.htm
*.csproj
*.csproj
*.user
CxActionShared/Helpers/ZipHelper.cs
CxActionShared/Views/app.config
CxViewer.sln
CxActionShared/Views/app.config
CxActionShared/Views/app.config
CxViewer.sln
CxViewer2022/CxViewer2022.csproj.user
*.user
*.user
*.user
*.csproj
*.csproj
*.user
*.datasource
*.user
*.csproj
*.user
*.sln
*.datasource
*.csproj
*.user
*.config
Common/Common.csproj
Common/Common.csproj.user
