################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/Common/obj/Debug/CoreCompileInputs.cache
/Common/obj/Debug/CoreCompileInputs.cache
/CxViewerColorButton/obj/Build/CoreCompileInputs.cache
/CxViewerColorButton/obj/Debug/CoreCompileInputs.cache
/Common/obj
