################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/obj
/CxViewerAction/obj
/CxViewerColorButton/obj
/CxViewerDgvFilterPopup/obj
/Common/bin/Debug
/CxViewerAction/bin/Debug
/CxViewerVSIX/bin/Debug
/CxViewerVSIX/obj
/packages/Microsoft.VSSDK.BuildTools.15.0.26201/build
/packages/Microsoft.VSSDK.BuildTools.15.0.26201/tools/vssdk
/CxViewerDgvFilterPopup/bin/Debug
/CxViewerColorButton/bin/Debug
/.vs
/.localhistory/C/Users/Adig/IdeaProjects/VisualStudio
/packages/Microsoft.VSSDK.BuildTools.15.0.26201
/CxViewerVSIX/CxViewerVSIX.csproj.user
