<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CxViewerAction2022.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CxViewerAction2022.Properties.Settings>
            <setting name="CxViewerAction2022_CxWsResolver_CxWSResolver"
                serializeAs="String">
                <value>http://localhost:1515/Cxwebinterface/CxWsResolver.asmx</value>
            </setting>
            <setting name="CxViewerAction2022_CxVSWebService_CxVSWebService"
                serializeAs="String">
                <value>http://localhost:1515/cxwebinterface/VS/CxVSWebService.asmx</value>
            </setting>
            <setting name="CxViewerAction_CxVSWebService_CxVSWebService"
                serializeAs="String">
                <value>http://localhost:1515/cxwebinterface/VS/CxVSWebService.asmx</value>
            </setting>
            <setting name="CxViewerAction_CxWsResolver_CxWSResolver" serializeAs="String">
                <value>http://localhost:1515/Cxwebinterface/CxWsResolver.asmx</value>
            </setting>
        </CxViewerAction2022.Properties.Settings>
    </applicationSettings>
</configuration>