<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.1" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.7.9" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.8.55" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="16.8.3038" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.674-prerelease" targetFramework="net471" />
</packages>